.disabled {
	opacity: 0.3;
	pointer-events: none;
}
.list-group-item .btn { margin:0 0 0 5px; }
.list-group-item.complete .content {
	color:#5cb85c;
	font-style: italic;
	text-decoration: line-through;
}